<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/stylesheets/style.css'>
  <title>Soccer Players Tracker</title>

</head>
<body>
    <nav>
        <img src="/images/spt.svg">
        
        <% if (user) { %>
          <a href="/players" <%- title === 'All Players' ? 'class="active"' : '' %>>ALL PLAYERS</a>
          <a href="/players/new" <%- title === 'Add Player' ? 'class="active"' : '' %>>ADD PLAYER</a>
          <a href="/team/new"	<%- title === 'Add Team' ? 'class="active"' : '' %>>ADD TEAM</a>
          <a href="/logout">LOG OUT</a>
        <% } %>
      </nav>
      <main>
        
