<%- include('../partials/header') %>

<section class="p-6 bg-white rounded-lg shadow-lg max-w-lg mx-auto mt-20">
  <h3 class="text-2xl font-bold mb-4 mt-4 text-center"><%= title %></h3>
  <div class="mb-4 text-gray-700">
      Before adding, please ensure that the team is not in the following list:
  </div>
  <section id="badge-container" class="flex flex-wrap gap-2">
      <% teams.forEach(function(t) { %>
      <article class="bg-blue-100 text-gray-700 px-3 py-1 rounded-lg shadow-sm"><%= t.teamName %></article>
      <% }) %>
  </section>
</section>

<section class="p-6 bg-white rounded-lg shadow-lg max-w-lg mx-auto mt-8 text-center">
  <h3 class="text-xl font-bold mb-4">Add New Team</h3>
  <form id="add-team-form" action="/teams" method="POST" class="space-y-4">
      <div>
          <label class="block font-semibold mb-1">Team Name:</label>
          <input type="text" name="teamName" class="w-full p-2 border border-gray-300 rounded-lg" required />
      </div>
      <div>
          <label class="block font-semibold mb-1">Year founded:</label>
          <input type="number" name="founded" class="w-full p-2 border border-gray-300 rounded-lg" required />
      </div>
      <button type="submit" class="w-35 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-lg px-4 py-2">Add Team</button>
  </form>
</section>

<%- include('../partials/footer') %>
