* {
  box-sizing: border-box;
  font-family: Helvetica;
  /* color: whitesmoke; */
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  position: relative;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
    "footer"
  
}

nav{
  background-color: #0f4c5c;
  color: #F3B618;
}

h2,h3 {
  color: #F3B618;
  text-decoration: underline;
}
p{
  color: #333;
}

footer {
  position: fixed; /* Fixed positioning */
  bottom: 0; /* Align the footer to the bottom of the viewport */
  width: 100%; /* Make the footer span the full width */
  background-color: #0f4c5c;
  margin-top: auto;
  padding: 10px;
  text-align: center;
}

footer p {
  color: #F3B618;
}
